.selection-icon {
    height: 20%;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 1%;
}

.ready {
    background-image: url("project://database/Assets/DevJudy/ByOthers/Garden%20cozy%20kit/Post/Assets/Menu%20Buttons/Clear%20Menu%20Buttons/Buttons-Control.png?fileID=2800000&guid=2879639bf965d274aaa4186f5bdd3d51&type=3#Buttons-Control");
    background-size: 50% 100%;
}

.waiting {
    background-image: url("project://database/Assets/DevJudy/ByOthers/Garden%20cozy%20kit/Post/Assets/Menu%20Buttons/Clear%20Menu%20Buttons/Buttons-x.png?fileID=2800000&guid=646610f08c07ac94dbde973a70c75f9d&type=3#Buttons-x");
    background-size: 50% 100%;
}
