.header {
    font-size: 40px;
    -unity-text-align: upper-center;
    color: rgb(254, 202, 129);
    -unity-font-definition: url("project://database/Assets/DevBoth/UI/Fonts/DraftingMono-Bold.otf?fileID=12800000&guid=9edcdbbb09ae8aa46b3612271126dd6b&type=3#DraftingMono-Bold");
    -unity-font-style: bold;
    margin-top: 3%;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    width: 30%;
    height: 15%;
    margin-bottom: 3px;
}

.gameSelectorContainer {
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
}

.levelButton {
    height: 40%;
    padding-left: 0;
    margin-right: 5%;
    margin-left: 5%;
    width: 25%;
    transition-duration: 0.35s;
    justify-content: space-between;
    visibility: visible;
    flex-shrink: 1;
    flex-grow: 0;
    background-image: url("project://database/Assets/DevBoth/Art/FREE%20KAWAII%20GUI%20PACK/PNG/Panel-Button%202.png?fileID=-490868867&guid=448518432584e0e4ca0839e48ff7b032&type=3#Panel-Button 2_29");
    font-size: 30px;
    -unity-font-definition: url("project://database/Assets/DevBoth/UI/Fonts/DraftingMono-Bold.otf?fileID=12800000&guid=9edcdbbb09ae8aa46b3612271126dd6b&type=3#DraftingMono-Bold");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

.levelButton:hover {
    scale: 1.1 1.1;
}

.hide {
    display: flex;
}

.visible {
}

.button {
    width: auto;
    -unity-font-definition: url("project://database/Assets/DevBoth/UI/Fonts/DraftingMono-Bold.otf?fileID=12800000&guid=9edcdbbb09ae8aa46b3612271126dd6b&type=3#DraftingMono-Bold");
    -unity-font-style: bold;
}

.unity-content-and-vertical-scroll-container > #unity-content-viewport > #unity-content-container {
    flex-direction: row;
}

.result-screen-container {
}

.selection-icon {
}
