.player-ui-main-container {
    flex-direction: row;
}

.instruction-label {
    font-size: 38px;
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/DevJudy/ByOthers/Fonts/ComputerModernFontFamily-byDonaldE.Knuth.ttf?fileID=12800000&guid=4e1cc141d8f91634e9dc87c4d06818d6&type=3#ComputerModernFontFamily-byDonaldE.Knuth");
    -unity-text-align: middle-left;
    color: rgb(254, 202, 129);
    white-space: nowrap;
}

.player-ui-left {
    width: 15%;
    flex-direction: row;
}

.player-ui-right {
    flex-grow: 1;
    width: 15%;
}

.player-ui-middle {
    width: 70%;
}

.score-label {
    margin-top: 2%;
    margin-left: 2%;
    font-size: 30px;
    color: rgb(0, 173, 10);
    -unity-font-definition: url("project://database/Assets/DevJudy/ByOthers/Fonts/DroidSansMono-bySteveMatteson.ttf?fileID=12800000&guid=7a413d89f872f244c8122cfd40c3c0c0&type=3#DroidSansMono-bySteveMatteson");
}
