.label {
    -unity-font-definition: url("project://database/Assets/DevBoth/UI/Fonts/DraftingMono-Bold.otf?fileID=12800000&guid=9edcdbbb09ae8aa46b3612271126dd6b&type=3#DraftingMono-Bold");
    font-size: 50px;
    color: rgb(254, 202, 129);
    -unity-text-outline-width: 4px;
    -unity-font-style: bold;
    -unity-text-outline-color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
