#menu-background__container > #settings-menu__container > #settings-master-volume__slider > .unity-slider__input > #unity-drag-container > #unity-dragger {
    background-image: url("project://database/Assets/GUIPackCartoon/Demo/Sprites/Buttons/Circles/Green.png?fileID=21300000&guid=2b5437866acef4318859e16d277075d3&type=3#Green");
    width: 4%;
    height: 40%;
    background-size: 140% 140%;
}
